<h1 class="text-center">Projects listing</h1>
<% if flash[:danger] %>
    <p><%= flash[:danger] %></p>
<% end %>
<% @projects.each do |project| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class=" well well-lg">
          <h2><%= link_to project.title, project, class: 'project-title' %></h2>
          <p><%= truncate(project.description, length: 100) %></p>
        </div>
      </div>
    </div>
<% end %>
