<h1>Projects listing</h1>
<% if flash[:danger] %>
    <p><%= flash[:danger] %></p>
<% end %>
<% @projects.each do |project| %>
    <div class="row">
      <div class="col-md-8">
        <div class=" well well-lg">
          <h2 class=""><%= link_to project.title, project %></h2>
          <p><%= truncate(project.description, length: 100) %></p>
        </div>
      </div>
    </div>
<% end %>
