@import "bootstrap-sprockets";
@import "bootstrap";

/**************Index styles***************/
.jumbotron {
  background-image: url('background-jumbotron.jpg');
  -webkit-background-size: cover;
  background-size:cover;
  color: #fefefe;
}
footer a:hover {
  text-decoration: none;
}
/**************Project Listings***************/
.project-title:hover {
  text-decoration: none;
}