@import "bootstrap-sprockets";
@import "bootstrap";

/**************Index styles***************/
.jumbotron {
  background-image: url('background-jumbotron.jpg');
  -webkit-background-size: cover;
  background-size:cover;
  color: #fefefe;
}
footer a:hover {
  text-decoration: none;
}
/**************Project Listings***************/
.project-title:hover {
  text-decoration: none;
}

/**************Panel effects***************/
.panel-heading span
{
  margin-top: -26px;
  font-size: 15px;
  margin-right: -12px;
}

.clickable {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.error-heading {
  padding-bottom: 15px;
}
