<% if @project.errors.any? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="panel-title error-heading">
              <p>
                Your project was not saved due to the following
                <%= pluralize(@project.errors.count, 'error') %>
              </p>
              <span class="pull-right clickable" data-effect="fadeOut"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            
          </div>
          <div class="panel-body">
            <ul>
              <% @project.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<% end %>